node_modules

workspace/
**/.cache/
**/build/
**/dist/
**/public/build
**/playwright-report
data.db
**/tsconfig.tsbuildinfo
**/*.tsbuildinfo
__screenshots__
*.sqlite
test-profiles
coverage
.vitest-reports
*.DS_Store
